body {
  font-family: 'Lato', sans-serif;
  color: #291f1a;
  font-weight: 300;

}

#main-nav {}

#main-nav>ul {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  text-decoration: none;
}

#main-nav>ul li {
  display: inline-block;
  float: right;
  color: #1ac056;
  font-weight: 300;
}

#main-nav>ul li a {
  text-decoration: none;
}

a:hover {
  color: #291f1a;
}
